{{#if title}}
  <h1 class="title">{{title}}</h1>
{{/if}}

{{#each content}}
<div class="item">
  <div class="item-name"><a {{bind-attr href=link}} target="_blank" title="Click to read more...">{{title}}</a></div>
  <div class="item-data">
    <span>
      {{#if author}}
        <span class="item-author">{{author}}</span>,
      {{/if}}
      <span class="item-date">{{publishedDate}}</span>
    </span>
    <br/>
  </div>
</div>
{{/each}}

{{view Dashboard.LastUpdatedView}}


