{{#if title}}
<h1 class="title">{{title}}</h1>
{{/if}}
{{#if content}}

<table>
	<tr>
		<th class="left">Team</th>
		<th class="small">Win %</th>
		<th class="small">Wins</th>
		<th class="small">Losses</th>
		<th class="small">Kills</th>
		<th class="small">Suicides</th>
	</tr>
	{{#each content.scores}}

	<tr>
		<td class="left">{{team}}</td>
		<td>{{ratio}}%</td>
		<td>{{wins}}</td>
		<td>{{losses}}</td>
		<td>{{kills}}</td>
		<td>{{deaths}}</td>
	</tr>
	{{/each}}
</table>

<h2>Best team:</h2>
<p>{{content.best}}</p>

{{/if}}
{{view Dashboard.LastUpdatedView}}
